body
  margin: 0
  background-color: yellowgreen
  padding: 0
  display: flex
  flex-wrap: wrap
  height: 100vh
  width: 100vw

  header
    background-color: green
    height: calc(25% - 2*0.5rem)
    margin: 0.5rem
    width: calc(100% - 2*0.5rem)
  section
    background-color: bisque
    height: 60%
    margin: 0 0.5rem
    width: calc(80% - 2*0.5rem)
  aside
    background-color: blue
    height: 60%
    width: calc(20% - 0.5rem)
  footer
    background-color: darkslateblue
    height: calc(15% - 2*0.5rem)
    margin: 0.5rem
    width: calc(100% - 2*0.5rem)